.all__category__filter select,
.all__items__filter select,
.filter__right select {
  padding: 8px 25px;
  font-style: 0.8rem;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  background: #343444;
}
